@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;

}

body {
    width: 100%;
    /* background: #fafafa; */
    position: relative;
    font-family: 'roboto', sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    Left: 0;
    Width: 100%;
    height: 50px;
    background: #fff;

    border-bottom: 1px solid #dfdfdf;
    display: flex;
    justify-content: center;
    padding: 5px 0;
    z-index: 1; 
    /* 맨위로 요소 올려줌, https://aboooks.tistory.com/83 스크롤시 자꾸사진이 겹쳐져서 */
}

.horizontal-line {
    width: 100%;
    height: 10px;
    background-color:black;
    margin-top: 1px;
    margin-bottom: 10px;
}

.section-title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}


.nav-wrapper {
    width: 100%;
    /* max-width: 1000px; */
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: right;

    /* background-color: aqua; */
}

.brand-img {
    height: 100%;
    /* margin-top: 15px;
    margin-bottom: 5px; */
   

}

.search-box {
    position: absolute;
    left: 50%;
    margin-top: 5px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    transform: translateX(-50%);
    width: 200px;
    height: 25px;
    background: #fafafa;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    color: rgba(0, 0, 0, 5);
    text-align: center;
    text-transform: capitalize;
}

.search-box::placeholder {
    color: rgba(0, 0, 0, 5);
}

.nav-items {
    /* width: 250px; */
    height: 22px;
    /* position: relative;  */
    
   
  
}

.icon {
    height: 100%;
    cursor: pointer;
    margin: 0 10px;
    display: inline-block;
    
}

.user-profile {
    /* width: 35px; */
    border-radius: 50%;
    background-image: url(img/profile-pic.png);
    background-size: cover;

}


.main {
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

/* .wrapper {
    width: 70%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 30px;
    background-color: aquamarine;
    /* padding-top: 10px; */



.main {
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.left-col {
    display: flex;
    flex-direction: column;
}

.status-wrapper {
    width: 980px;
    height: 150px;
    /* background: violet; */
    /* border: 1px solid #dfdfdf; */
    border-radius: 2px;
    /* padding-top: 10px; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top : 1px solid rgb(202, 199, 199);
    padding-top: 20px;
    /* overflow: hidden; */
    /* overflow-x: auto; */
    /* https://nykim.work/86 */


    
    
}

/* .status-wrapper::-webkit-scrollbar {
    display: none;
} */


.status-card {
    flex: 0 0 auto;
    width: 80px;
    max-width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
    /* background-color: darkblue; */
}

.profile-pic {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    padding: 3px;
    background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%);
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
}

.username {
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.5)
}





/* 여기서부터 수민님 css */

.fir_container {
    margin: 70px auto 0px auto;
    width: 980px;
    height: 70px;
    /* border: 2px solid #dfdfdf; */
    display: table;
    table-layout: fixed;


}

/* 부모태그에 display : table을 선언해 주고!
                    table-layout: fixed
            자식태그에 display : table-cell을 선언해주면
            갯수가 몇개가 되든 동일한 간격으로 영역 가지게 됩니다 */
.header_id {

    display: table-cell;
    vertical-align: middle;
    padding: 5px 0px 5px 40px;
    /* =>모든게 안에서부터 늘어나기에 가능 */
    /* margin : 15px; /*은 아무 효과 없음 -> 이미 바깥여유공간이 없어 꽉차있기때문에 1번쨰 박스에  */
    /* 이렇게 해버리면 전체칸을 하나로 인식하여 앞에 마진을 띄어줄수 없다. */

    /* width: max-content; */
    /* 글자 크기에 박스를 맞춰주는것 일단 border가 생김 두껍게..? backgroung칼라넣어서 확인해보면다름*/
    
    /* https://www.daleseo.com/css-width/ */
    /* flex관련문서 : https://heropy.blog/2018/11/24/css-flexible-box/ */
    /* flex and grid 관련 : https://studiomeal.com/archives/197 */
}

.sec_container {

    margin: 0px auto 0px auto;
    width: 980px;
    height: 300px;
    display: flex;
    justify-content: flex-start;
    box-shadow: 0px 0px 0px 0px;
    /* border: 2px solid #dfdfdf; */
    /* background: #fff */

}

.id{
    width: 100%;
    word-break: break-all; 
    /* 칸에 맞춰 줄바꾸기 박스위치에다가 넣어줘야 반영*/
    /* word-spacing: inherit ; */
   
}
.id > span {
    font-weight: bold;
    font-size: 20px;
    /* padding-top: 100px;
    margin : 15px 0px 0px 10px; 다 위쪽으로는 커지지가 않아 */
    margin-left: 10px;
}
.id > button:nth-of-type(1) {
        margin-left: 70px;
}
.id > button:nth-last-of-type(1) {
    margin-left: 10px;
}
.sec_text{
    
    margin: 20px 0px 0px 10px;
    font-size: 15px;
    display: block;
}

.sec_text > th:nth-of-type(even){
    padding-right :40px; 
    /* 테이블 태그라 마진은 소용x 패딩으로 넓혀주기 가능*/

} 
.sec_text > th:nth-of-type(odd){
    padding-right :10px; 
    /* 테이블 태그라 마진은 소용x 패딩으로 넓혀주기 가능*/

} 
.id > p {
    font-weight: bold;
    font-size : 15px;
    margin-top: 30px;
    margin-left: 10px;
    
}
.text2 {
    margin-left: 10px;
    /* margin-top: 5px; */
}

.follower_box{
    /* background-color: pink; */
    width: 500px;
    height: 250px;
    display:inline-block; 
    
   
    /* border: 2px solid #dfdfdf; */
    margin : 30px 150px auto auto;
    padding-top: 5px;
}
.posting_box{
    width: 980px;
    height: 900px;
    margin: 0px 10px 0px auto;
    /* box-shadow: 0px 0px 3px 0px; */
    /* border: 2px solid #dfdfdf; */
    /* background-color: aqua; */
    
}
.wholewrap {
    width : 980px;
    height : 2000ps;
    margin: 0px auto 0px auto;
    /* border: 3px solid #fff; */
    /* background-color: firebrick; */
    /* display: flex;  */
    /* align-items: center; */
    /* justify-content: center; */
    /* justify-content: space-evenly */
}
.profile_back img{
   
    /* height: 150px;
    width: 150px; */
    width: 95%;
    height: 95%;
    object-fit: cover;
    /* object-fit 속성은 지정된 너비와 높이에 맞게 장착되는 방식을 지정 https://webdir.tistory.com/486*/
    border-radius: 50%;
    border: 3px solid #fff;
    position: absolute;
    justify-content: space-evenly;
    
    
}

.profile_back {
   z-index: 0;
    /* height: 160px;
    width: 160px; */
    width: 100%;
    height: 100%;
    /* border : 3px solid; */
    border-radius: 50%;
    /* overflow: hidden; */
    position: relative;
    padding: 4px;
    /* text-align: center; */
    /* background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%); */
    /* align-items: center; */
    /* padding: 3px; */
    background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%);
}
.profile_status{
    /* flex: 0 0 auto; */
    float:left;
    width: 180px;
    height: 180px;
    margin: auto auto auto 40px ;
    /* background-color: green; */
    /* padding : 10px */
    /* background-color: aquamarine; */
    /* max-width: 160px; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    /* margin-right: 15px; */
}

.gesi_group {
    width: 980px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* 사이 공간의 너비를 같게 */
    margin: 50px 0px 50px 0px;
    /* 바로 위 status wrapper를 div로 인식 못하는 건지 붙어 나와서
    일단은 margin_top을 넉넉하게 잡음
    수민님 수정 후 wholewrap에 제대로 포함되어짐 */
}

.gesi_group2 {
    width: 980px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 0px 50px 0px;
}


.card-img-top {
    width: 288px;
    height: 288px;
    cursor: pointer;
    /* 커서를 올리면 마우스 포인터가 손가락 모양으로 바뀜 */
}

input.img-button {
    background: url("img/like.PNG") no-repeat;
    background-size: contain;
    /* background-size: cover; 지정한 요소를 다 덮도록 배경이미지를 확대/축소 
       background-size: contain; 지정한 요소 안에 배경 이미지가 다 들어오도록 이미지를 확대/축소*/
    width: 23px;
    height: 23px;
    border: none;
  }

  input.commentbtn {
    background: url("img/comment.PNG") no-repeat;
    background-size: contain;
    width: 23px;
    height: 23px;
    border: none;
  }
